/*background: linear-gradient(to right bottom, #a1e1f0, rgba(17, 37, 140, 0.92));*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lato","Arial",sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;    
    margin: 30px 20px;
    min-height: 90vh;
    border-radius: 15px;
    border: 1px solid;
}

/*
.wrapper{
    background: linear-gradient(to right bottom, #a1e1f0, rgba(17, 37, 140, 0.92));
    padding: 20px 30px;
}

.container{
    background:#fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

*/
/*-------HEADER---------*/
.header{
    display: flex;
    height: 70px;
    border-bottom: 1px solid silver;
    background: #fbfbfb;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.welcome-note{
    flex: 1;
    padding: 25px 0 0 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #414141;
    letter-spacing: 1px;
}

.logout{
    flex: 1;
    text-align: right;
    padding: 25px 30px 0 0;
    
}

.logout-link,
.home-link,
.logout-link:active,
.home-link:active{
    text-decoration: none;
    color: #414141;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 2px;
    border-bottom: transparent;
    transition: border-bottom .3s;
    outline: none;
}

.home-link{
   margin-right: 20px;
}

.logout-link:hover,
.home-link:hover
{
    border-bottom: 2px solid #000;
}

/*-------CONTENT---------*/

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__textbox{
    width: 100%;
    padding-left : 50px;
    border-bottom: 1px solid silver;
    padding: 10px 60px;
}

.searchID,
.searchID:active
{
    width: 250px;
    height: 30px;
    margin: 20px;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    padding: 5px;
}

.search-btn,
.search-btn:active
{
    height: 40px;
    width: 120px;
    outline: none;
    border: none;
    border-radius: 30px;    
    background: #cc0643;
    color: #fff; 
    cursor: pointer;
    font-size: 17px;
    transform: scale(1.03);
    transition: transform .2s;
}

.search-btn:hover{
    transform: scale(1.07);
}

.content__details{
    width: 70%;
    border: 2px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    border-radius: 20px;
    background: linear-gradient(to right bottom, rgba(164, 229, 244, 0.84), rgba(17, 37, 140, 0.9));
    color: #000;
}

/*----------TABLE-----------*/

.content-table{
    margin-bottom: 30px;
}

table{
    width: 65%;
    margin-top: 50px;
    border-collapse: collapse;
    border-color: #000;
    font-weight: 500;
}

td{
    padding: 20px 0 20px 100px;
    background: #fbfbfb;
}

.proceed-btn,
.proceed-btn:active{
    height: 45px;
    width: 120px;
    outline: none;
    border: none;
    border-radius: 7px;    
    background: #cc0643;
    color: #fff; 
    cursor: pointer;
    font-size: 16px;
    transform: scale(1.03);
    transition: transform .2s;
    margin-right: 50px;
}

.proceed-btn:hover{
    transform: scale(1.06);
}

/*
.content__details--table{
    padding: 20px 0;
}
    

.content__details--items-left{
    padding: 20px;
    width: 350px;
    text-align: left;
    padding-left: 110px;
}

.arrow{
    font-size: 25px;
    text-align: center;
    padding-right: 20px;
    padding-bottom: 10px;
}

.content__details--items-right{
    width: 350px;
    padding-left: 60px;
    text-align: left;
}

.content__details--title{
     margin-top:30px;
}

.content__details--btn,
.content__details--btn:active
{
    height: 45px;
    width: 120px;
    outline: none;
    border: none;
    border-radius: 7px;    
    background: #cc0643;
    color: #fff; 
    cursor: pointer;
    font-size: 16px;
    transform: scale(1.03);
    transition: transform .2s;
    margin-bottom: 30px;
}

.content__details--btn:hover{
    transform: scale(1.07);
}
*/


