*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 90vh;
    font-family: "Lato","Arial",sans-serif;
    font-size: 18px;
    border: 1px solid;
    margin: 30px;
    border-radius: 15px;
}

.header{
    display: flex;
    height: 70px;
    border-bottom: 1px solid silver;
}

.welcome-note{
    flex: 1;
    padding: 25px 0 0 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000000;
    letter-spacing: 1px;
    font-size: 20px;
}

.back{
    flex: 1;
    text-align: right;
    padding: 25px 30px 0 0;
    font-size: 20px;
}

.back-link,
.back-link:active
{
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 2px;
    border-bottom: transparent;
    transition: border-bottom .3s;
    outline: none;
}

.back-link:hover{
    border-bottom: 2px solid #000;
}

/*------TABLE--------*/

table{
    margin-top: 5%;
    border-collapse: collapse;
    border-color: #000;
}
th{
    padding: 20px;
    background: linear-gradient(to left bottom, #b67a23, #d1820c);
    
}

td{
    padding:30px 20px;
    background: #b1c9f8;
    
}
