*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: "Lato","Arial",sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;    
}

.wrapper{
    background: linear-gradient(to right bottom, #a1e1f0, rgba(17, 37, 140, 0.92));
    padding: 20px 30px;
}

.container{
    background:#fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;    
}

/*-------HEADER---------*/
.header{
    display: flex;
    height: 70px;
    border-bottom: 1px solid silver;
    background: #fbfbfb;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.welcome-note{
    flex: 1;
    padding: 25px 0 0 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #414141;
    letter-spacing: 1px;
}

.logout{
    flex: 1;
    text-align: right;
    padding: 25px 30px 0 0;
    
}

.logout-link,
.home-link,
.logout-link:active,
.home-link:active{
    text-decoration: none;
    color: #414141;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 2px;
    border-bottom: transparent;
    transition: border-bottom .3s;
    outline: none;
}

.home-link{
   margin-right: 20px;
}

.logout-link:hover,
.home-link:hover
{
    border-bottom: 2px solid #000;
}

/*----------CONTENT----------*/

.content{
    display: flex;
    flex-direction: column;
    min-height: 83.3vh;
    background: #fbfbfb;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    justify-content: flex-start;
    align-items: center;
}

.content__table{
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 30px;
}

.content__table--items{
    padding-left: 20px;
    width: 280px;
    padding-bottom: 10px;
}

.content-name{
    padding-left: 100px;
}

/*----------BUTTONS--------*/


.content__arrow{
    padding-bottom: 10px;
    font-size: 25px;
}

.items__btns
{
    height: 45px;
    width: 120px;
    border: none;
    outline: none;
    border-radius: 7px;    
    background-image: linear-gradient(to right, #e73662, rgb(195, 48, 84));
    color: #fff;    
    font-size: 16px;
    transform: scale(1.03);
    transition: transform .2s;
    cursor: pointer;
}

.items__btns:hover,
.items__btns:active
{
    transform: scale(1.07);
    border: none;
    outline: none;
}



/*-----------ADD SHIPPER-----------*/

.add-shipper{
    width: 90%;
    margin-top: 30px;
    min-height: 300px;
    background: #fbfbfb;
    font-size: 18px;
    padding: 30px;
    margin-bottom: 30px;
    font-weight: 500;
}

.add-shipper__outline{    
     border-radius: 8px;
     border: 2px solid;
}

.add-shipper__page-details{
    margin: 20px auto;
    width: 90%;
    display: flex;
    padding: 20px 0;
}    

.add-ship__content-left{
    flex: 1;
    text-align: center;
}

.add-ship__content-right{
    flex: 1;
}

.add-ship__para{
    text-transform: uppercase;
    color: #e8690d;
    margin-bottom: 20px;
}

.inputtxt,
.inputtxt:active
{
    width: 250px;
    height: 35px;
    outline: none;    
    font-size: 16px;
}

.select-box,
.select-box:active
{
    width: 250px;
    height: 35px; 
    font-size: 16px;
    outline: none;
    text-align: center;
    letter-spacing: 1px;
}

.add-ship__row{
    margin-bottom: 30px;
    display: flex;    
    align-items: center;
}

.add-ship__col1{
    flex: 1;
    text-align: right;
    padding-right: 10px;
}

.add-ship__col2{
    flex: 1;
    margin-right: 30px;
}

/*--------PAGE SUBMIT-------*/

.add-shipper__page-submit{
    text-align: center;
}

.page-submit__checkbox{
    margin-right: 5px;
}

.page-submit__button{
    margin-top: 30px;    
    margin-bottom: 30px;
}

/*--------VIEW TABLE---------*/


.container__table{
    text-align: center;
    padding: 20px;
}

.container__table--heading-row{
    background: linear-gradient(to left bottom, #b67a23, #d1820c);
}

.container__table--headings{
    padding: 30px 20px;
    width: 230px;
}

.container__table--items{
    background: #267164;
    color: #fff;
    padding: 15px 20px;
    border: 1px solid;
}



