*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lato","Arial",sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;    
    border: 1px solid;
    margin: 30px;
    min-height: 90vh;
    border-radius: 20px;
    background-color: #f4f4f4;
}

/*-------HEADER---------*/

.header{
    display: flex;
    height: 70px;
    border-bottom: 1px solid silver;
    background: #f7f7f7;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.welcome-note{
    flex: 1;
    padding: 25px 0 0 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #414141;
    letter-spacing: 1px;
}

.logout{
    flex: 1;
    text-align: right;
    padding: 25px 30px 0 0;
    
}
.logout-link,
.home-link,
.logout-link:active,
.home-link:active{
    text-decoration: none;
    color: #414141;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 2px;
    border-bottom: transparent;
    transition: border-bottom .3s;
    outline: none;
}

.home-link{
   margin-right: 20px;
}

.logout-link:hover,
.home-link:hover
{
    border-bottom: 2px solid #000;
}
/*----------CONTENT----------*/

.container__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 83.3vh;        
    
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/*----------TABLE-----------

.container__table{
    text-align: center;
    margin-top: 50px;
}

.container__table--heading-row{
    background: linear-gradient(to left bottom, #ffe3ba, #ffab2d);
}

.container__table--headings{
    padding: 30px 20px;
    width: 230px;
}

.container__table--items{
    background: #267164;
    color: #fff;
    padding: 15px 20px;
    border: 1px solid;
}
*/
/*----------BUTTONS----------*/

.view-btn,
.confirm-btn,
.view-btn:active,
.confirm-btn:active
{
    height: 45px;
    width: 120px;
    border: none;
    border-radius: 7px;    
    background-image: linear-gradient(to right, #e73662, rgb(195, 48, 84));
    color: #fff;    
    font-size: 16px;
    transform: scale(1.03);
    transition: transform .2s;
    outline: none;
    cursor: pointer;
}

.view-btn:hover,
.confirm-btn:hover{
    transform: scale(1.08);
}

/*-----------CONFIRM ITEMS TABLE------------------*/

table{
    border-collapse: collapse;
    text-align: center;
    border-color: #000;
    margin-top: 60px;
}

th{
    background: #ffbc5a;
    padding: 25px 50px;    
}

td{
    padding: 20px 50px;
    background: #18806e;
    font-weight: 500;
}


/*--------POPUP---------*/

.popup{
    height:100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color:rgba(0, 0, 0, 0.8);
    z-index: 9999;    
    opacity: 0;
    visibility: hidden;
}

.popup:target{
     opacity: 1;
     visibility: visible;
}

.popup__content{
    width: 700px;
    background-color: #fff;
    height: 640px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    /*background: linear-gradient(to right bottom, #75cdff, rgb(44, 41, 220));*/
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup__content--title{
    text-align: center;
    margin-top: 40px;
    font-weight: 600;
}

.popup__container{
    margin-top: 5px;
    padding: 0 30px;
}

.popup__content--label{
    text-align: center;
    padding-left: 20px;
}


.content__verify-btn{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 65px;
    
}
.popup__content--verify,
.popup__content--verify:active
{
    height: 45px;
    width: 120px;
    border: none;
    border-radius: 50px;    
    background-image: linear-gradient(to right, #e73662, rgb(195, 48, 84));
    color: #fff;    
    font-size: 16px;
    transform: scale(1.03);
    transition: transform .2s;
    outline: none;
    cursor: pointer;
}

.popup__content--verify:hover{
    transform: scale(1.08);
}

/*----------CLOSE ICON-----------*/

.popup__close:link,
.popup__close:visited{
    color: dimgray;
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 30px;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
}

.popup__close:hover{
    color: limegreen;
}

/*POPUP CONTENTS*/

.row{
    width: 500px;
    padding: 12px 10px;
    display: flex;
}

.row-left{
    flex: 1;
}

.row-right{
    
    flex: 1;
}

.row-left label{
    margin-left: 30px;
}

.row-txt,
.row-txt:active{
    height: 30px;
    width: 180px;
    font-size: 18px;
    padding-left: 10px;
    outline: none;
}

/*-------POPUP CLOSE BTN-------*/

.popup__close-btn:link,
.popup__close-btn:visited
{
    text-decoration: none;
    color: #fff;
    background: linear-gradient(to right, #e73662, rgb(195, 48, 84));
    padding: 10px 25px;
    border-radius: 4px;
    transform: scale(1.03);
    transition: transform .3s;
    font-size: 18px;
    outline: none;
}

.popup__close-btn:active,
.popup__close-btn:hover
{
    transform: scale(1.06);
}

/*--------VIEW AND CONFIRM--------*/

.view-ration:link,
.view-ration:visited,
.confirm-ration:link,
.confirm-ration:visited
{
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    background: linear-gradient(to right, #e73662, rgb(195, 48, 84));
    padding: 12px 25px;
    border-radius: 6px;
    transform: scale(1.03);
    transition: transform .3s;
    font-size: 18px;
    outline: none;
}

.view-ration:hover,
.confirm-ration:hover{
    transform: scale(1.07);
}

